{namespace _OurBrand_\Quiz\ViewHelpers}
<f:render partial="Student/Review/Top" arguments="{UIPath: UIPath, quiz: quiz, studentQuizSession: studentQuizSession}"/>
<f:render partial="Student/Review/Header" arguments="{quiz: quiz, studentQuizSession: studentQuizSession, hideFinishButtonAndClock:hideFinishButtonAndClock}"/>
<f:if condition="{currentExercise}"><:widget.pagination exercise="{currentExercise}"/></f:if>

<hr>
<div class="quizmate-content pad-v pad-bottom xs-pad-v-0">
	<div class="container pad-h xs-pad-h-s">
		<h3 class="color-primary-dark mar-top-0">{currentExercise.title}</h3>
		<p><f:format.nl2br>{currentExercise.description}</f:format.nl2br></p>

		<f:if condition="{currentExercise.textContent}">
			<p>{currentExercise.textContent.text}</p>
			<p>{currentExercise.textContent.copyright}</p>
		</f:if>

		<f:if condition="{currentExercise.image}">
			<br>
			<img src="{f:uri.resource(resource: currentExercise.image.originalResource)}" alt="">
		</f:if>

		<br/>
		<div class="instruction-secondary">
			<f:render section="Explanation" optional="true"/>
		</div>

		<f:render section="Content" />

	</div><!-- end container -->
</div><!-- end quizmate-content -->

<f:render partial="Student/Review/Navigation" arguments="{quiz: quiz, currentExercise: currentExercise}" />

<f:render partial="Student/Review/Bottom" arguments="{UIPath: UIPath}"/>

<f:render section="HiddenJavascriptHtml" optional="true" />
<f:render section="Script" optional="true" />

</body>
</html>